.demo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 25px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.modal-window {
    margin-bottom: 20px;
}
$backroundImageLink: "../src/asserts/backgroundEtagi.webp";
.auth-form {
    background-image: url($backroundImageLink);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
