.demo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 25px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.modal-window {
    margin-bottom: 20px;
}
$backroundImageLink: "../src/asserts/backgroundEtagi.webp";
.auth-form {
    background: linear-gradient(90deg, #faf0cd, #fab397);
}
